.backdrop {
  position: absolute;
  top: 0px;
  overflow: hidden;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background-color: #dddddd;
  background-image: linear-gradient(to bottom, #dddddd 5%, #eeeeee 70%, #eeeeee 71%, white 75%, white 100%);
}

.backdrop:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  background-color: white;
  background-image: radial-gradient(ellipse  at center top, white 30%, rgba(255, 255, 255, 0.1) 50%);
  background-color: transparent;
}
